.coming-soon {
	min-height: 100%;
	color: #ffffff;
}

.coming-soon .container {
	position: relative;
	padding-top: 20%;
	text-align: center;
}

.fa-cog {
	font-size: 6em;
}

h3 {
	font-size: 3em;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: bold;
}