html{
	height: 100%;
}
body{
	background-image:url('/images/wedding4.jpg');
	height: 100%;
	padding-top: 40px;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 0px;
	background-attachment: fixed;
}
.navbar{
	width: 100%;
	z-index:1;
	background-color:#fff;
}
.para {
	
	height: 625px;

}

.para .container {
	position: relative;
	top: 80px;
	opacity: 0.7;
}

.para .container h4 {
        
	color: #ff6666;
}

.para .form {
	margin: 0 auto;
	width:80%
}

.contacts img{
	height: 25px;
	width: 25px;
}
.rights .container{
	margin-top:0px;
	color:#f7f7f7;
}
/*.others{
	margin-left: 15px;
	margin-right: 15px;
	position: inline;
}*/
.contacts p{
	font-family:'Arial',sans-serif;
	font-size:12px;
	color:#f7f7f7;
	display:inline;
	margin-right: 12px;
}
/*.nav a{
	color:#5a5a5a;
	font-size: 9px;
	font-weight: bold;
	padding: 4px 2px;
	text-transform: uppercase;
}*/
