html{
	height: 100%;
}
body{
	background-image:url('/images/party3.jpg');
	height: 100%;
	padding-top: 40px;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 0px;
	background-position: center;
	background-attachment: fixed;
}
.navbar{
	width: 100%;
	z-index:1;
	background-color:#fff;
}
.para {
	
	height: 625px;

}

.para .container {
	position: relative;
	top: 80px;
	opacity: 0.7;
}

.para .container h4 {
        
	color: #fff;
}

.para .form {
	margin: 0 auto;
	width:80%
}

.contacts .container{
	margin-top:-20%;
}
.contacts img{
	height: 25px;
	width: 25px;
}

.rights .container{
	color:#fff;
	text-align: center;
	padding-top: 50px;
	padding-left: 20%;
	padding-right: 26%;
}
