html {
	height: 100%;	/*So that the 100% divs are full height*/
}

body {
	background-image:url('/images/wedding4.jpg');
	height: 100%;	
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 0px;
	background-attachment: fixed

}
.para
{
position:relative;
left:68px;
font-size:20px;
height:100%;
}

.navbar {

	width: 100%;
	z-index: 1;
	background-color: #ffffff;
}


.navbar > .navbar-collapse {
	text-align: center;
}

.para .container {
	position: relative;
	top: 50px;
	opacity: 0.7;
}

.para .container h4 {
	color: #ff6666;
         
}

.para .form {
	margin: 0 auto;
	width:80%
}


.email img{
	height:25px;
	width:25px;
}

.phone img {
	height:25px;
	width:25px;
}

.phone a{

	font-family:'Arial',sans-serif;
	font-size:13px;
	color:#f7f7f7;

}

.email a{
    font-family:'Arial',sans-serif;
	font-size:12px;
	color:#f7f7f7;

}
.rights .container{
	margin-top:0px;
	color:#f7f7f7;
}
