/*Mobile*/
@media only screen and (max-width: 700px) {
	.footer {
		background-color: #222222;
		min-height: 30%;
		text-align: center;
	}

	.footer .container {
		padding-bottom: 5%;
	}

	.footer p {
		color: #fee252;
		text-align: center;
	}

	.footer a {
		color: #ffffff;
	}

	.footer a:hover {
		color: #fee252;
	}

	.footer .contact {
		text-align: center;
	}

	.footer .contact i {
		margin-right: 2%;
		line-height: 2em;
	}

	.footer .legal {
		text-align: center;
		margin-top: 5%;
	}

	.footer .social {
		margin: 0 auto;
		margin-top: 8%;
	}

	.footer .copyright {
		margin-top: 12%;
		width: 90%;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}
}

/*Desktop*/
@media only screen and (min-width: 700px){
	.footer {
		background-color: #222222;
		min-height: 30%;
		text-align: center;
	}

	.footer .container {
		padding-top: 2%;
		padding-bottom: 2%;
	}

	.footer p {
		color: #fee252;
		text-align: center;
	}

	.footer a {
		color: #ffffff;
	}

	.footer a:hover {
		color: #fee252;
	}

	.footer .contact {
		text-align: left;
		float: left
	}

	.footer .contact .fa {
		margin-right: 1em;
	}

	.footer .email {
		line-height: 2em;
	}

	.footer .legal {
		text-align: right;
	}

	.footer .social {
		width: 50%;
		margin: 0 auto;
		margin-top: 5%;
	}

	.footer .copyright {
		margin-top: 5%;
		width: 90%;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}
}
