html {
    height: 100%;
}
body {
    height: 100%;
    padding-top: 40px;
    background-image: url('/images/light.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    margin-bottom: 0px;
    background-attachment: fixed;
    background-position: center;
} 
.navbar{
    width: 100%;
    z-index:1;
    background-color:#fff;
}
 .container{
    margin-top:10%;
}
.container h2{
    margin-top:0%;
    margin-bottom:6%;
    font-family: 'Comic Sans',serif;
    font-weight:bold;
    color:#fff;
}
img{
    width:110%;
    height:150%;
}
.img-thumbnail{
    background-color:transparent
}
 .contacts img{
    height: 25px;
    width: 25px;
}

.rights .container{
    color:#fff;
    text-align: center;
    padding-top: -3.2%;
    padding-left: 20%;
    padding-right: 26%;
}
.phone{
    color:#f7f7f7;
}