
/*Mobile*/
@media only screen and (max-width: 700px) {
	body {
		background-image:url('/images/concert.jpg');
		min-height: 100%;
		background-repeat:no-repeat;
		background-size: cover;
		margin-bottom:0px;
		background-position:center;
		background-attachment: fixed;
	}

	.gallery {
		min-height: 100%;
	}
}

/*Desktop*/
@media only screen and (min-width: 700px) {
	body {
		background-image:url('/images/concert.jpg');
		min-height: 100%;
		background-repeat:no-repeat;
		background-size: cover;
		margin-bottom:0px;
		background-position:center;
		background-attachment: fixed;
	}
	body:before {
		content: "";
		display: block;
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -10;
		background: url('/images/concert.jpg') no-repeat center center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}

	.gallery {
		min-height: 100%;
	}
}
