 

    div.img {
    margin-top: 50px;
    padding-top: 50px;
    border: 1px solid #ffffff;
    height: 175;
    width: 175;
     
    float: left;
    text-align: center;
}

div.img img {
    display: inline;
    margin: 5px;
    border: 1px solid #ffffff;
}

div.img a:hover img {
    border:1px solid #0000ff;
    width: 350px;
    height: 350px;
}

div.desc {
    text-align: center;
    font-weight: normal;
    width: 120px;
    margin: 5px;
}
 
