html {
    height: 100%;
}
body {
    height: 100%;
    padding-top: 40px;
    background-image: url('/immages/henna.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    margin-bottom: 0px;
    background-attachment: fixed;
} 

    div.img {
    margin-top: 50px;
    padding-top: 50px;
    height: 175;
    width: 175;
     
    float: left;
    text-align: center;
}

div.img img {
    display: inline;
    margin: 5px;
   
}

div.img a:hover img {
    border:1px solid #0000ff;
    width: 350px;
    height: 350px;
}

div.desc {
    text-align: center;
    font-weight: normal;
    width: 120px;
    margin: 5px;
}
 
