 body {
    background-image:url('/images/henna.jpg');
    height: 100%;
    background-repeat:no-repeat;
    background-size: cover;
    margin-bottom:0px;
    background-attachment: fixed;

}

div.img {
    margin-top: 100px;
    padding-top: 100px;
    height: 175;
    width: 175;
     
    float: left;
    text-align: center;
}

div.img img {
    display: inline;
    margin: 5px;
   
}

div.img a:hover img {
    
    width: 600px;
    height: 450px;
}
 
div.desc {
    text-align: center;
    font-weight: normal;
    width: 120px;
    margin: 5px;
}
 