html {
	height: 100%;	/*So that the 100% divs are full height*/
}


.nav {
	margin-top:0%;
	width: 100%;
	z-index: 1;
  font-size: 20px;
  font-weight: bold;
	background-color: #ffefdb;
	 text-transform: uppercase;
}

.nav .others{
	display:inline;
}

body {
	background-image:url('/images/rave.jpg');
	height: 100%;	
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 0px;
	background-attachment: fixed;   
}

.para h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.para p {
  font-size: 20px;
  color: #fff;
}