html {
	height: 100%;	/*So that the 100% divs are full height*/
}

body {
	background-image:url('/images/rave.jpg');
	height: 100%;	
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 0px;
	background-attachment: relative;

}

.navbar {
	width: 100%;
	z-index: 1;

	background-color: #ffffff;
}


.navbar > .navbar-collapse {
	text-align: center;
}
.para h1 {
	margin-top:10%;
	margin-bottom: 10%;
    color: #fff;
    font-size: 48px;  
    font-family: 'Times New Roman', sans-serif;
    font-weight: bold;
    text-align:center;
}

.para p {
	margin-bottom: 15%;
    font-size: 20px;
    color: #fff;
    font-family: 'Comic Sans', serif;
}

.email img{
	height:25px;
	width:25px;
	margin-top:-20px;
}

.phone img {
	height:25px;
	width:25px;
}

.phone a{

	font-family:'Arial',sans-serif;
	font-size:13px;
	color:#f7f7f7;
}

.email a{
    font-family:'Arial',sans-serif;
	font-size:12px;
	color:#f7f7f7;
    margin-top:-7px;
    position:fixed;
}
.rights .container{
	color:#f7f7f7;
	margin-top:-20px;
}


