.jumbotron {
	min-height: 100%;
	background-color: transparent;
}

.jumbotron .container {
	position: relative;
	padding-top: 30%;
	text-align: center;
}

.jumbotron h1 {
	color: #ffffff;
	font-size: 3em;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: bold;
}

.jumbotron p {
	margin-top: 5%;
	color: #ffffff;
	font-size: 1.5em;
	font-weight: bold;
}


.event {
	min-height: 50%;
	background-color: transparent;
	overflow: hidden; /*hides anything that overflows the boundary*/

	margin-top: -22%;
}

.event .container {
	background-image:url('/images/shaggy.jpg');
	width: 95%;
	height: 55em;
	background-repeat: no-repeat;
	background-position: center;
}


.about {
	min-height: 100%;
	background-color: transparent;
}

.about .container {
	position: relative;
	padding-top: 5%;
	width: 80%;
	padding-bottom: 5%;
	background-color: rgba(0, 0, 0, 0.5);
}

.about h1 {
	padding-bottom: 5%;
	text-align: center;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: bold;
	font-size: 3em;
	color: #ffffff;
}

.about p {
	color: #ffffff;
	font-size: 1.5em;
}

.about .btn-default {
	margin-top: 10%;
	color: #ffffff;
	background-color: transparent;
	font-size: 1.2em;
}


.portfolio {
	min-height: 100%;
	background-color: transparent;
}

.portfolio .container {
	position: relative;
	padding-top: 5%;
	width: 90%;
}


.portfolio .container h1 {
	color: #ffffff;
	text-align: center;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: bold;
	font-size: 3em;
	padding-bottom: 8%;
}

.portfolio .container a {
	color: #ffffff;
}

.portfolio .container .weddings {
	background-image:url('/images/wedding3.jpg');
	background-position: center;
	height: 20em;
}

.portfolio .container .events {
	background-image:url('/images/concert.jpg');
	background-position: center;
	height: 20em;

	margin-top: 5%;
}

.portfolio .container .type {
	color: #ffffff;
	font-weight: bold;
	font-size: 2.5em;
	text-align: center;
	line-height: 5.5em;
}


.contact {
	min-height: 100%;
	background-color: transparent;
	margin-top: 10%;
	margin-bottom: 10%;
}

.contact .container {
	position: relative;
	padding-top: 5%;
}

.contact h1 {
	color: #ffffff;
	text-align: center;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: bold;
	font-size: 3em;
	padding-bottom: 5%;
}

.contact p {
	color: #ffffff;
	font-size: 1.2em;
}

.contact .form-inline {
	margin: 0 auto;
	width:90%
}

.contact .form-inline .form-group input {
	margin-bottom: 5%;
	background-color: transparent;
	color: white;
	line-height: 2em;
}

.contact .form-inline .form-group textarea {
	margin-bottom: 5%;
	background-color: transparent;
	color: white;
}

.contact .btn-default {
	color: #ffffff;
	background-color: transparent;
	font-weight: bold;
}
.contact .btn-default:hover {
	background-color: #128F76;
}

.contact .btn-default i {
	font-size: 1.2em;
	padding-right: 5%;
	font-weight: normal;
}


.form-control::-webkit-input-placeholder { color: white; font-size: 1.2em; }
.form-control:-moz-placeholder { color: white; font-size: 1.2em; }
.form-control::-moz-placeholder { color: white; font-size: 1.2em; }
.form-control:-ms-input-placeholder { color: white; font-size: 1.2em; }
