html{
	height: 100%;
}
body{
	
	height: 100%;
	padding-top: 40px;
	background-image: url('/images/rave.jpg');
	background-repeat: no-repeat;
	margin-bottom: 0px;
	background-attachment: fixed;
	background-position:center;
}
.navbar{
	width: 100%;
	z-index:1;
	background-color:#fff;
}

.para h1{
	margin-top:10%;
	margin-bottom: 10%;
color:#fff;
font-size: 30px;
font-family: 'shift',sans-serif;
font-weight: bold;
position: relative;
text-align: center;
}
.para p{
	margin-bottom: 20%;
	font-size: 20px;
	color:#fff;
	font-family: 'Comic Sans',serif;
}
.contacts img{
	height: 25px;
	width: 25px;
}


.rights .container{
	color:#fff;
	text-align: center;
	padding-top: 50px;
	padding-left: 20%;
	padding-right: 26%;
}