html {
	height: 100%;	/*So that the 100% divs are full height*/
}

body {
	background-image:url('/images/birthday2.jpg');
	height: 100%;	
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 0px;
	background-attachment: fixed

}

.navbar {
	width: 100%;
	z-index: 1;

	background-color: #ffffff;
}


.navbar > .navbar-collapse {
	text-align: center;
}
.para h1 {
	margin-top:10%;
	margin-bottom:0%;
    color: #fff;
    font-size: 48px;  
    font-family: 'Times New Roman', sans-serif;
    font-weight: bold;
    text-align:center;
}
.para img{
    width:520px;
    margin-top:2%;
    margin-left:50%;
}
.para p {
	margin-top:-30.5%;
	white-space: pre;
	margin-bottom:2%;
    font-size: 20px;
    color: #fff;
    font-family: 'Comic Sans', serif;
    text-align:left;
    margin-right:60px;
    margin-left:20px;
}
.para li{
      margin-bottom:0%;
      margin-top:0%;
    text-align:middle;
    margin-right:60px;
    margin-left:30px;
	font-size: 20px;
	color:#fff;
	font-family: 'Comic Sans',serif
} 

.email img{
	height:0.25%;
	width:2%;
	margin-top:0%;
}
.contacts .container{
	color:#f7f7f7;
	margin-top:15%;

}

.phone img {
	height:0.25%;
	width:2%;
}

.phone a{
    margin-right:0.5%;
	font-family:'Arial',sans-serif;
	font-size:13px;
	color:#f7f7f7;
}
.phone{
    color:#f7f7f7;
}

.email a{
    font-family:'Arial',sans-serif;
	font-size:12px;
	color:#f7f7f7;
    margin-top:-0.5%;
    margin-left:0.5%;
}

.rights .container{
	color:#f7f7f7;
	margin-top:-3%;
}

.rights a{
	margin-left:0.5%;
	margin-right:1.5%;
}

.rights p{
	margin-left:0%;
}