
/*Mobile*/
@media only screen and (max-width: 700px) {
	body {
		background-image:url('/images/birthday2.jpg');
		min-height: 100%;	
		background-repeat: no-repeat;
		background-size: cover;
		margin-bottom: 0px;
		background-attachment: fixed
	}
	body:before {
		content: "";
		display: block;
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -10;
		background: url('/images/birthday2.jpg') no-repeat center center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}

	
	.services .container {
		padding-top: 25%; 
		padding-bottom: 20%;
	}

	.services .container .task {
		margin-bottom: 80%;
		float: top;
	}

	.services .task h1 {
		color: #ffffff;
		font-size: 2.2em;
		margin-bottom: 5%;
		font-weight: bold;
	}

	.services .task img {
		max-width: 90%;
		margin-bottom: 10%;
	}

	.services .task p, .task ul {
		color: #ffffff;
		font-size: 1.5em;

		background-color: rgba(0, 0, 0, 0.7);
	} 
}


/*Desktop*/
@media only screen and (min-width: 700px) {
	.services {
		background-image:url('/images/birthday2.jpg');
		min-height: 100%;	
		background-repeat: no-repeat;
		background-size: cover;
		margin-bottom: 0px;
		background-attachment: fixed
	}

	.services .container {
		padding-top: 10%; 
	}

	.services .container .task {
		padding-bottom: 35%;
	}

	.services .task h1 {
		color: #ffffff;
		font-size: 3em;
		margin-bottom: 3%;
	}

	.services .task img {
		max-width: 90%;
		margin-bottom: 5%;
	}

	.services .task p, .task ul {
		color: #ffffff;
		font-size: 1.4em;

		background-color: rgba(0, 0, 0, 0.7);
	}

}
