html{
	height: 100%;
}
body{
	
	height: 100%;
	padding-top: 40px;
	background-position: center;
	background-image: url('/images/vuurwek1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 0px;
	background-attachment: fixed;
	background-position: center;
}
.navbar{
	width: 100%;
	z-index:1;
	background-color:#fff;
}

.para h1 {
	margin-top:10%;
	margin-bottom:6%;
    color: #fff;
    font-size: 28px;  
    font-family: 'Times New Roman', sans-serif;
    font-weight: bold;
    text-align:center;
}
.para img{
	margin-left:2%;
    width:210px;
    height:160px;
}
.para p {
	margin-bottom:10%;
    font-size: 15px;
    color: #fff;
    font-family: 'Comic Sans', serif;
    text-align:left;
    margin-right:0px;
    margin-left:15px;
}

.para ul{
	margin-top:-5.6%;
	font-size: 15px;
}
.para li{
	color:#fff;
	font-family: 'Comic Sans',serif
} 
.contacts img{
	height: 25px;
	width: 25px;
}

.rights .container{
	color:#fff;
	text-align: center;
	padding-top: 50px;
	padding-left: 20%;
	padding-right: 26%;
}
.phone{
    color:#f7f7f7;
}